/node_modules/
/public
/storage/framework/sessions/
/storage/framework/views/*.php
/storage/*.key
/vendor/
/.idea/
/Key/

.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.bat
*.lock
*.js
package-lock.json
